@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="main-grids">
    <div class="top-grids">
        @await Html.PartialAsync("_Recent")
    </div>
    @await Html.PartialAsync("_Recommend")
   
</div>
